@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Oportunidade Grupo Fortes</h1>
    <p class="lead">Projeto Web na plataforma .NET com a linguagem C# desenvolvido por Rafael de Mendonça para Avaliação Técnica – DESENVOLVIMENTO.</p>
    <p><a href="https://www.linkedin.com/in/rafael-mendon%C3%A7a-31437340/" class="btn btn-primary btn-lg">Sobre o candidato &raquo;</a></p>
</div>

<div class="row">
    
</div>